#portfolio {
	background-color: white;

	h2 {
		font-size: 2.5rem;
		padding-top: 50px;
	}
}

.portfolio__img {
	img {
		max-width: 100%;
	}
}

.portfolio__work--list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	padding-top: 50px;

	img {
		max-width: 400px;
	}
}

.port-slide {
	margin: 25px 0;
}

@media (max-width: 425px) {
	.portfolio__work--list {
		display: flex;
		flex-flow: column;
		justify-content: space-evenly;
		padding-top: 50px;
	}
	.port-slide {
		margin: 25px;
	}
}
